.img__log{
    text-align: center;
    text-transform: uppercase;
    font-weight: 400;
    font-family: "Fredoka One";
}
.img__log p{
margin-bottom: 5%;
}
li{
    margin-bottom: 2%;
    margin-top: 5%;
}
h1{
    margin-top: 5%;
    margin-bottom: 5%;
    color: #62959c;
}
.logout{
    display: flex;
    align-items: center;
    justify-content: center;
}
.img__logout{
    width: 12%;
    padding-right:1%;
}