@tailwind base;
@tailwind components;

// Variables
@import "variables";
@import "components/song";
@import "index";

@tailwind utilities;

.New__song{
    background-color: #E3D0B9;
    padding: 2%;
    border-radius: 30px;
    color: rgb(255, 255, 255);
}
.username{
    color: #62959c;
}
.song{
    color: rgb(238, 113, 134);
}
.nav__choices{
    background-color: #E3D0B9;
    display: flex;
    justify-content: space-around;
    padding-left: 8%;
}
.nav__choices div{
display: flex;
align-items: center;
}
.img__nav{
width:30%;
padding-right: 5%;
}