@tailwind base;
@tailwind components;

// Variables
@import "variables";
@import "components/song";
@import "index";

@tailwind utilities;

html{
    font-size: 3rem;
}
.New__song{
    background-color: #E3D0B9;
    padding: 2%;
    border-radius: 30px;
    color: rgb(255, 255, 255);
}
.username{
    color: #62959c;
}
.song{
    color: rgb(238, 113, 134);
}