
#progress-bar{
    cursor: pointer;
    background-color: white;
    width : 90%;
    height : 5rem;
}
* {
    margin: 0;
    padding: 0;
}

.progress {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 4rem;
}

.progress-bar {
    display: flex;
    position: relative;
    width: 100%;
    height: 3rem;
    background-color: #eee;
    cursor: pointer;
    padding: 0.5rem 2rem;
    border-radius: 2rem;
}

.now {
    left: 0;
    display: inline-block;
    height: 70%;
    width: 0;
    margin-top: auto;
    margin-bottom: auto;
    background: #62959C;
    border-radius: 2rem;
}

.now::after {
    content: '';
    position: absolute;
    left: 100%;
    width: 3px;
    height: 7px;
    background-color: lightblue;
}
.time{
    width: 90%;
    display: flex;
    justify-content: space-between;
    z-index: 2;
    align-items: flex-end
}
.lecteur_perso{
    justify-content: flex-end;
    background-color: #E3D0B9;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    overflow-x: hidden;
    padding: 3rem 0;
    &:before
    {
        position: absolute;
        width: 150%;
        height: 100%;
        border-radius: 50%;
        top: -20%;
        background-color:#FFF;
        display:inline-block;
        vertical-align: middle;
        margin-right: 10px;
        content: '';
    }
}

#button_play{
    width: 20rem;
    background-repeat: no-repeat;
    height: 20rem;
    background-position: center;
    background-color:#62959C;
    border-radius: 50%;
    transform: rotate(180deg);
}

.play{
    background-image: url("../img/play.png");
}

.pause{
    background-image: url("../img/pause.png");
}

#infos{
    z-index: 2;
}
